# custom
/_modpack_files.json
/compare.csv
/serverpack/
/mods/**/*
!/mods/*.jar
!/mods/*.jar.disabled
/resourcepacks/**/*
!/resourcepacks/*.zip

# defaults
/shaderpacks/
/screenshots/
/schematics/
/saves/
/logs/
/localconfigs/
/local/
/.curseclient
/hotbar.nbt
/knownkeys.txt
/minecraftinstance.json
/options.txt
/realms_persistence.json
/servers.dat
/servers.dat_old
/usercache.json
/usernamecache.json

# generated
/XaeroWaypoints*/
/XaeroWorldMap/
/fancymenu_*/
/downloads/
/crash-reports/
/.mixin.out/
/.idea/
/rhino.local.properties
/**/*.bak

# configs
!/config/**/*
/config/_clientprofile.toml
/config/**/konkrete
/config/**/inventoryprofilesnext/**/*
!/config/**/inventoryprofilesnext/inventoryprofiles.json
!/config/**/inventoryprofilesnext/integrationHints/
!/config/**/inventoryprofilesnext/integrationHints/**/*.json
/config/**/fancymenu/*.db
/config/**/fancymenu/locals
/config/**/defaultoptions/servers.dat
/config/**/roughlyenoughitems/changelog.txt
/config/**/roughlyenoughitems/hints.json
/config/**/roughlyenoughitems/*.properties
/config/**/better*/**/README.txt
/config/**/YungsExtras/**/README.txt

!/defaultmodconfigs/**/*
/defaultmodconfigs/clientprofiles/**/*
/defaultmodconfigs/_clientprofile.toml
/defaultmodconfigs/**/konkrete
/defaultmodconfigs/**/inventoryprofilesnext/**/*
!/defaultmodconfigs/**/inventoryprofilesnext/inventoryprofiles.json
!/defaultmodconfigs/**/inventoryprofilesnext/integrationHints/
!/defaultmodconfigs/**/inventoryprofilesnext/integrationHints/**/*.json
/defaultmodconfigs/**/fancymenu/*.db
/defaultmodconfigs/**/fancymenu/locals
/defaultmodconfigs/**/defaultoptions/servers.dat
/defaultmodconfigs/**/roughlyenoughitems/changelog.txt
/defaultmodconfigs/**/roughlyenoughitems/hints.json
/defaultmodconfigs/**/roughlyenoughitems/*.properties
/defaultmodconfigs/**/better*/**/README.txt
/defaultmodconfigs/**/YungsExtras/**/README.txt
